/* body {
    background-image:url('https://www.teluguone.com/tmdbuserfiles/pawan(43).jpg ');
    background-size: cover;
    height:50vh;
} */
/* button{
    padding:10px;
    margin:30px;
    margin-left:70px;
} */